DATABASE_URL="postgresql://postgres.linktoyourdatabase.com:5432/your-database-name"
NEXTAUTH_SECRET="your-secret-key-here"
NEXTAUTH_URL="http://localhost:3000"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_YourVercelBlobTokenHere"
